.a1 {
  display: flex;
  align-items: center;
  gap: 76px;
  justify-content: center;
}
.a1 p {
  color: rgba(0, 0, 0, 0.79);
  font-family: Proxima Nova;
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: left;
}
.a2 {
  display: flex;
  align-items: center;
  gap: 14px;
}
.a3 {
  display: flex;
  align-items: center;
  gap: 30px;
}
.a4 {
  display: flex;
  align-items: center;
  gap: 8px;
}
.a {
  padding: 12px 0;
  background: #f7ebe5;
}
.a5 {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.a6 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.a5 p {
  color: rgb(43, 20, 20);
  font-family: Proxima Nova;
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
header {
  padding: 18px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #fff;
}
